@font-face {
  font-family: "iconfont"; /* Project id 1794054 */
  src: url('iconfont.woff2?t=1630321972803') format('woff2'),
       url('iconfont.woff?t=1630321972803') format('woff'),
       url('iconfont.ttf?t=1630321972803') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before {
  content: "\e624";
}

.icon-github-fill:before {
  content: "\e7ab";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-qq:before {
  content: "\e62b";
}

.icon-copy2:before {
  content: "\e608";
}

.icon-kaomoji:before {
  content: "\e606";
}

.icon-plugin:before {
  content: "\e650";
}

.icon-plugin2:before {
  content: "\e605";
}

.icon-copy:before {
  content: "\e698";
}

.icon-error:before {
  content: "\e604";
}

.icon-you:before {
  content: "\e603";
}

.icon-zuo:before {
  content: "\e602";
}

.icon-D:before {
  content: "\e60c";
}

.icon-A:before {
  content: "\e626";
}

.icon-yun:before {
  content: "\e600";
}

.icon-yuzhou:before {
  content: "\e612";
}

.icon-yanhua:before {
  content: "\e601";
}

.icon-liumangxin:before {
  content: "\e609";
}

.icon-emoji-off:before {
  content: "\e657";
}

.icon-emoji-on:before {
  content: "\e678";
}

.icon-message:before {
  content: "\e64c";
}

.icon-send:before {
  content: "\e65c";
}

.icon-contact:before {
  content: "\e623";
}

.icon-home:before {
  content: "\e60b";
}

.icon-tool:before {
  content: "\e6ad";
}

.icon-blog:before {
  content: "\e648";
}

.icon-github:before {
  content: "\e81e";
}

.icon-diary:before {
  content: "\e607";
}

